@keyframes expand-height {
    from { height: 0%; width: 100% }
    to { height: 100%; width: 100% } /* Adjust this value as needed */
  }

.slide-it {
    animation: expand-height 300ms linear both;
}
  
